.svn
.DS_Store
build
node_modules
*.slo
*.lo
*.o
*.so
*.d
*.lai
*.la
*.a
*.spec
*.doxygen_objdb_*
*.xcuserdata
*.xcworkspace
*.tm_build_errors
*.ncb
*.suo
*.vcproj.*
*.wwdb
*.link
*.lib
*.framework
*.perspectivev3
*.pbxuser
*.model1v3


