# Build fodler
build/

# libs folders
node_modules/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Others
.svn
.DS_Store
.doxygen_objdb_*
.xcuserdata
.xcworkspace
.tm_build_errors
.ncb
.suo
.vcproj.*
.wwdb
.d
.temp
.link
.lib
.spec
.framework
.perspectivev3
.pbxuser
.model1v3

