body { margin: 0; overflow:hidden; }

::-webkit-scrollbar {
	height: 1.5ex;
	width: 1.5ex;   
}  

::-webkit-scrollbar-corner {
	background-image:url(../images/corner.png);
	background-repeat:no-repeat;
}

::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-thumb:vertical {
	background: rgba(127, 127, 127, .15);  
}
	
#left {
	width:20%;
	border-right: 1px solid #ccc;
	height: 100%;
	background-color:#000;
	color:#ccc;
	overflow: auto;
	/*overflow:scroll;*/
}
	
#fileBrowser {
	font-family:monospace;
	list-style:none;
	padding-left:1em;
	margin-top:0;

}
#right {
	width:100%;
	height:100%;
	left:20%;
	top:0px;
	position:absolute;
	display:block;
	margin:0;
	padding:0;
	background-color:#000;
}
#filename {
	padding-left:.5em;
	background-color:#633;
	color:#ccc;
	height:20px;
}
#console {
	border: 0px solid #f00;
	border-top:5px;
	position:absolute;
	bottom:0px;
	background-color:#333;
	color:#ccc;
	width:80%;
	height:10em;
}
#consoleBar {
	display:block;
	position:relative;
	top:0;
	height:4px;
	background-color:#ccc;
	width:100%;
}
.consoleStyle {
	font-family:Monospace;
	font-size:1.25em;
	height:100%;
}
#consoleContainer {
	overflow: scroll;
}
#console p {
	padding: 1em;
	margin:0;
}