body { margin: 0; overflow:hidden; }

::-webkit-scrollbar {
	height: 1.5ex;
	width: 1.5ex;   
}  

::-webkit-scrollbar-corner {
	background-image:url(../images/corner.png);
	background-repeat:no-repeat;
}

::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-thumb:vertical {
	background: rgba(127, 127, 127, .15);  
}
	
#left {
	width:20%;
	border-right: 1px solid #ccc;
	height: 100%;
	overflow: auto;
	/*overflow:scroll;*/
}
	
#fileBrowser {
	font-family:monospace;
	list-style:none;
	padding-left:1em;
	margin-top:0;

}
#right {
	width:80%;
	left:20%;
	top:0px;
	position:absolute;
	display:block;
	margin:0;
	padding:0;
}
#filename {
	padding-left:.5em;
	background-color:#633;
	color:#ccc;
	height:20px;
}
